@page "/dialogcard/{ClientName}"

<div>

    <div class="d-flex">
        <div class="p-1">
            <p>New secret:</p>
        </div>
        <div class="p-1">
            <RadzenTextBox @bind-Value="@NewClientSecret" Style="width: 300px"/>
        </div>
        <div class="p-1">
            <RadzenButton Click="GenerateNewSecret" Icon="sync"></RadzenButton>
        </div>
        <div class="p-1">
                    <RadzenButton Click="CopySecretToClipboard" Icon="content_copy"></RadzenButton>
                </div>
    </div>
    <div class="d-flex">
        <div class="p-1">
            <p>Previous Secret Expiry:</p>
        </div>
        <div class="p-1">
                    <RadzenDatePicker @bind-Value="@_oldClientSecretExpiry"/>
                </div>
    </div>
    <div class="d-flex">
        <div class="p-1">
            <RadzenButton Click="() => _oldClientSecretExpiry = DateTime.Now" Text="Now"/> 
        </div>
        <div class="p-1">
            <RadzenButton Click="() => _oldClientSecretExpiry = DateTime.Now.AddHours(1)" Text="1 Hour"/>      
        </div>
        <div class="p-1">
            <RadzenButton Click="() => _oldClientSecretExpiry = DateTime.Now.AddHours(24)" Text="24 Hours"/>
        </div>
    </div>
    <div class="d-flex">
        <div class="p-1">
            <p>The new secret needs to be updated on all clients. 
                Take a copy, it is not available again once you push change.
                Clients using the old secret will continue to work until the date set above (local time).</p>
        </div>
    </div>
    <div class="row pt-3">
        <div class="col">
            <RadzenButton Text="Change" Disabled="@_secretIsInvalid" Click="ChangeSecret" Class="mr-1"/>
            <RadzenButton Text="Cancel" Click="() => DialogService.Close()" ButtonStyle="ButtonStyle.Secondary" Class="mr-1"/>
        </div>
    </div>
</div>