@using Fig.Web.Models.Setting.ConfigurationModels
<div class="d-flex flex-column">
    <RadzenSwitch @bind-Value="@Setting.Value" 
                  Change="@(args => Setting.ValueChanged(args.ToString()))"
                  Disabled="@Setting.IsReadOnly"/>
    <SettingAnnotations Setting="@Setting"/>
</div>

@code
{
    [Parameter]
    public BoolSettingConfigurationModel Setting { get; set; } = null!;
}
