@page "/ApiStatus"
@using Fig.Web.Attributes
@using Fig.Web.Models.Api
@attribute [Administrator]

<div class="col p-3">
    <div class="d-flex flex-row p-2">

        <div class="p-2">
            <RadzenButton Click="@(args => OnRefresh())" Text="Refresh" Icon="autorenew" BusyText="Fetching Results...." IsBusy="@_isRefreshInProgress" ButtonStyle="ButtonStyle.Secondary"/>
        </div>

        <div class="p-2">
            <p>Last Updated: @_lastRefreshedRelative</p>
        </div>

    </div>
    <div class="d-flex flex-row p-3">
        <RadzenDataGrid @ref="apiStatusGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                        Data="@ApiStatusModels" TItem="ApiStatusModel" LogicalFilterOperator="LogicalFilterOperator.Or" AllowColumnPicking="true">
            <Columns>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="Hostname" Filterable="true" Title="Hostname" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="Uptime" Filterable="true" Title="Uptime" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="RuntimeId" Filterable="true" Title="RuntimeId" TextAlign="TextAlign.Center" Visible="false"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="StartTimeUtc" Filterable="true" Title="Start Time Utc" TextAlign="TextAlign.Center" Visible="false"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="LastSeenRelative" Filterable="true" Title="Last Seen" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="IpAddress" Filterable="true" Title="IP Address" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="MemoryUsage" Filterable="true" Title="Memory Usage" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="Version" Filterable="true" Title="Version" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="RunningUser" Filterable="true" Title="Running User" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="TotalRequests" Filterable="true" Title="Total Requests" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="RequestsPerMinute" Filterable="true" Title="Requests/Min" TextAlign="TextAlign.Center"/>
                <RadzenDataGridColumn TItem="ApiStatusModel" Property="ConfigurationErrorDetected" Filterable="true" Title="Config Error Detected" TextAlign="TextAlign.Center" Visible="false"/>

            </Columns>
        </RadzenDataGrid>
    </div>
</div>