@page "/Clients"
@using Fig.Web.Models.Clients
@using Fig.Web.Attributes
@attribute [Administrator]

<div class="col p-3">
    <div class="d-flex flex-row p-2">
        
        <div class="p-2">
            <RadzenButton Click=@(args => OnRefresh()) Text="Refresh" Icon="autorenew" BusyText="Fetching Results...." IsBusy=@_isRefreshInProgress ButtonStyle="ButtonStyle.Secondary"/>
        </div>
        
    </div>
    <div class="d-flex flex-row p-3">
        <RadzenDataGrid @ref="clientsGrid" AllowFiltering="true" AllowColumnResize="true" FilterMode="FilterMode.Advanced" AllowSorting="true" PageSize="50" AllowPaging="true" PagerHorizontalAlign="HorizontalAlign.Left" ShowPagingSummary="true"
                Data="@ClientRunSessions" TItem="ClientRunSessionModel" LogicalFilterOperator="LogicalFilterOperator.Or" AllowColumnPicking="true">
                <Columns>
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="Name" Filterable="true" Title="Name" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="Instance" Filterable="true" Title="Instance" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="LastRegistration" Filterable="true" Title="LastRegistration" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="LastSettingValueUpdate" Filterable="true" Title="LastSettingValueUpdate" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="RunSessionId" Filterable="true" Title="RunSessionId" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="LastSeen" Filterable="true" Title="LastSeen" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="LiveReload" Filterable="true" Title="LiveReload" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="PollIntervalMs" Filterable="true" Title="PollIntervalMs" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="UptimeSeconds" Filterable="true" Title="UptimeSeconds" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="IpAddress" Filterable="true" Title="IpAddress" TextAlign="TextAlign.Center" />
                    <RadzenDataGridColumn TItem="ClientRunSessionModel" Property="Hostname" Filterable="true" Title="Hostname" TextAlign="TextAlign.Center" />
                </Columns>
            </RadzenDataGrid>
    </div>
</div>