@using Fig.Web.Models
<RadzenNumeric TValue="int" @bind-Value=@Setting.Value Change=@(args => Setting.ValueChanged(args.ToString())) Class="w-100" />
<p class="@(Setting.IsValid ? "collapse": "" )" style="color: pink; font-size: small">@Setting.ValidationExplanation</p>

@code
{
    [Parameter] public IntSettingConfigurationModel Setting { get; set; }
}