@using Fig.Web.Models

@if (services == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <div class="container p-0">
        <div class="row">
            <div class="col-md-auto">
                <RadzenListBox AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                           TValue="string" Data=@services TextProperty="DisplayName" ValueProperty="Name"
                           Change=@OnChange Class="w-100 p-3" style="height:100%" />


            </div>

            <div class="col">
                @if (selectedService != null)
                {
                    @foreach (var setting in selectedService.Settings)
                    {
                        @if (setting is StringSettingConfigurationModel stringSetting)
                        {
                            <StringSetting Setting="@stringSetting" />
                        }
                        else if (setting is IntSettingConfigurationModel intSetting)
                        {
                            <IntSetting Setting="@intSetting" />
                        }
                        else if (setting is BoolSettingConfigurationModel boolSetting)
                        {
                            <BoolSetting Setting="@boolSetting" />
                        }
                        else if (setting is DropDownSettingConfigurationModel dropDownSetting)
                        {
                            <DropDownSetting Setting="@dropDownSetting" />
                        }

                    }
                }
            </div>
        </div>
    </div>
}