@using Fig.Web.Services
@using Fig.Contracts.Authentication
@using Microsoft.Extensions.Options
@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject IOptions<WebSettings> Settings;
@inject DialogService DialogService;

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link py-0 px-3">
                <img src="images\fig_logo_name_right_white_299x135.png" w asp-append-version="true" width="90" height="40"/>
            </NavLink>
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Settings</NavLink>
            <NavLink href="settingstable" class="nav-item nav-link">Settings Table</NavLink>
            <NavLink href="events" class="nav-item nav-link">Events</NavLink>
            @if (AccountService?.AuthenticatedUser?.Role == Role.Administrator)
            {
                <NavLink href="users" class="nav-item nav-link">Users</NavLink>
                <NavLink href="clients" class="nav-item nav-link">Connected Clients</NavLink>
                <NavLink href="apistatus" class="nav-item nav-link">API Status</NavLink>
                <NavLink href="importexport" class="nav-item nav-link">Import / Export</NavLink>
                <NavLink href="configuration" class="nav-item nav-link">Configuration</NavLink>
                <NavLink href="webhooks" class="nav-item nav-link">Web Hooks</NavLink>
                <NavLink href="timemachine" class="nav-item nav-link">Time Machine</NavLink>
            }

            <NavLink href="lookuptables" class="nav-item nav-link">Lookup Tables</NavLink>
            <div style="padding-bottom: 5px">
                <RadzenButton Variant="Variant.Text" Click=@(_ => ShowKeybindings()) Text="Shortcuts" ButtonStyle="ButtonStyle.Light" Icon="help" />
            </div>
            

        </div>

        <div class="navbar-nav ms-auto">
            <div class="align-content-center p-1">
                <ConnectionStatus/>
                <p>@Settings.Value.Environment</p>
            </div>

            <RadzenProfileMenu>
                <Template>
                    <RadzenImage Path="images/user-icon.png" style="width: 25px"/>
                </Template>
                <ChildContent>

                    <p class="text-center fs-3" style="margin: 0">@AccountService?.AuthenticatedUser?.Username</p>
                    <p class="text-center fst-italic">@AccountService?.AuthenticatedUser?.Role</p>
                    <RadzenProfileMenuItem class="match-navbar-background" Text="Account" Path="account/manage" Icon="account_circle"/>
                    <RadzenProfileMenuItem class="match-navbar-background" Text="Logout" Path="account/logout" Icon="logout"/>
                </ChildContent>
            </RadzenProfileMenu>
        </div>
    </nav>
}

<div class="app-container">
    @if (AccountService?.AuthenticatedUser is not null)
    {
        <RadzenNotification />
    }
    <RadzenTooltip/>
    <RadzenDialog/>
    <!-- <Alert />-->
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent Context="ex">
            <ErrorHandlingForm UnhandledException="ex"/>
        </ErrorContent>
    </ErrorBoundary>

</div>

@code {

    private const string FeedbackPrompt = "What is on your mind? Help this application improve by offering suggestions, detailing problems or expressing your appreciation. Thanks!";

    public bool LoggedIn => AccountService?.AuthenticatedUser != null;
    
    private async Task ShowKeybindings()
    {
        await DialogService.OpenAsync($"Keyboard Shortcuts", ds => 
            @<div>
                <p>Alt + s &nbsp.&nbsp.&nbsp.&nbsp.&nbsp Save Client</p>
                <p>Alt + a &nbsp.&nbsp.&nbsp.&nbsp.&nbsp Save All Clients</p>
                <p>Alt + e &nbsp.&nbsp.&nbsp.&nbsp.&nbsp Expand All</p>
                <p>Alt + c &nbsp.&nbsp.&nbsp.&nbsp.&nbsp Collapse All</p>
                <p>Alt + i &nbsp.&nbsp.&nbsp.&nbsp.&nbsp New Instance</p>
                <p>Alt + d &nbsp.&nbsp.&nbsp.&nbsp.&nbsp Show Client Description</p>
            </div>,
            new DialogOptions() { Resizable = true, Draggable = true });
    }

}