@using Fig.Web.Services
@using Fig.Contracts.Authentication
@inherits LayoutComponentBase
@inject IAccountService AccountService
@inject NavigationManager NavigationManager

@if (LoggedIn)
{
    <!-- nav -->
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="navbar-nav">
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link py-0 px-3">
                <img src="/Images/fig_logo_name_right_white_299x135.png" w asp-append-version="true" width="90" height="40"/>
            </NavLink>
            <NavLink href="" Match="NavLinkMatch.All" class="nav-item nav-link">Settings</NavLink>
            <!-- <NavLink href="users" class="nav-item nav-link">Users</NavLink>-->

            @if (AccountService?.AuthenticatedUser?.Role == Role.Administrator)
            {
                <NavLink href="events" class="nav-item nav-link">Events</NavLink>
                <NavLink href="users" class="nav-item nav-link">Users</NavLink>
                <NavLink href="clients" class="nav-item nav-link">Connected Clients</NavLink>
            }

        </div>

        <div class="navbar-nav ml-auto">
            <RadzenProfileMenu style="background: #343a40">
                <Template>
                    <RadzenGravatar Email="@AccountService?.AuthenticatedUser?.Username"/>
                </Template>
                <ChildContent>

                    <p class="text-center fs-3" style="margin: 0">@AccountService?.AuthenticatedUser?.Username</p>
                    <p class="text-center fst-italic">@AccountService?.AuthenticatedUser?.Role</p>
                    <RadzenProfileMenuItem class="match-navbar-background" Text="Account" Path="account/manage" Icon="account_circle"/>
                    <RadzenProfileMenuItem class="match-navbar-background" Text="Logout" Path="account/logout" Icon="logout"/>
                </ChildContent>
            </RadzenProfileMenu>
        </div>
    </nav>
}

<div class="app-container">
    <RadzenNotification/>
    <RadzenTooltip/>
    <RadzenDialog/>
    <!-- <Alert />-->
    @Body
</div>

@code {

    public bool LoggedIn => AccountService?.AuthenticatedUser != null;

}