name: "Deploy to Docker"

on:
  workflow_run:
    workflows: ["Create Release"]
    types:
      - completed

jobs:
  build:
    name: Building image
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' && startsWith(github.event.workflow_run.head_branch, 'v') }}
    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: ${{ github.event.workflow_run.head_branch }}

      - name: Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: "Get Version"
        id: version
        run: |
          version="${{ github.event.workflow_run.head_branch }}"
          version=${version#v}
          echo "version-without-v=$version" >> $GITHUB_OUTPUT

      - name: DockerHub login
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Web
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./src/web/Fig.Web/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/fig-web:latest , ${{ secrets.DOCKERHUB_USERNAME }}/fig-web:${{ steps.version.outputs.version-without-v }}
          
      - name: Build and push Api
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./src/api/Fig.Api/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/fig-api:latest , ${{ secrets.DOCKERHUB_USERNAME }}/fig-api:${{ steps.version.outputs.version-without-v }}
          
      - name: Build and push Microsoft Sentinel Integration
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./src/integrations/Fig.Integration.MicrosoftSentinel/Dockerfile
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/fig-sentinel-integration:latest , ${{ secrets.DOCKERHUB_USERNAME }}/fig-sentinel-integration:${{ steps.version.outputs.version-without-v }}
