name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main

defaults:
  run:
    shell: bash
    working-directory: ./doc/fig-documentation/

jobs:
  deploy:
    name: Deploy to GitHub Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
          cache-dependency-path: './doc/fig-documentation/package-lock.json'

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Build website
        run: yarn build

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./doc/fig-documentation/build
          user_name: mzbrau
          user_email: mr.michael.browne@gmail.com
