name: Create Pre-Release

on:
  push:
    tags:
      - "*-alpha"

env:
  DOTNET_VERSION: '10.0.x'

jobs:
  pre-release:

    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Update .NET workloads
      run: dotnet workload update
      
    - name: Install required .NET workloads
      run: dotnet workload install aspire
  
    - name: Install dependencies
      run: dotnet restore ./src

    - name: Build
      run: dotnet build --configuration Release --no-restore ./src

    - name: Run Unit Tests
      run: dotnet test ./src/tests/Fig.Unit.Test/Fig.Unit.Test.csproj --configuration Release --no-build --verbosity minimal --logger "trx;LogFileName=unit-test-results.trx" --results-directory ./src/tests/Fig.Unit.Test/TestResults --settings ./src/test.runsettings --blame-hang-timeout 20m
      timeout-minutes: 5

    - name: Run Integration Tests
      run: dotnet test ./src/tests/Fig.Integration.Test/Fig.Integration.Test.csproj --configuration Release --no-build --verbosity minimal --logger "trx;LogFileName=integration-test-results.trx" --results-directory ./src/tests/Fig.Integration.Test/TestResults --settings ./src/test.runsettings --blame-hang-timeout 30m
      timeout-minutes: 35

    - name: Publish Api
      run: dotnet publish ./src/api/Fig.Api/Fig.Api.csproj --runtime win-x64 --configuration Release --self-contained true -p:PublishSingleFile=true -p:PublishedTrimmed=true -p:IncludeAllContentForSelfExtract=true

    - name: Zip API
      uses: papeloto/action-zip@v1
      with:
        files: ./src/api/Fig.Api/bin/Release/net10.0/win-x64/publish
        dest: ./src/api/Fig.Api/bin/Release/net10.0/win-x64/Fig.Api.zip

    - name: Publish Web
      run: dotnet publish ./src/web/Fig.Web/Fig.Web.csproj --runtime win-x64 --configuration Release --self-contained true -p:PublishedTrimmed=true -p:IncludeAllContentForSelfExtract=true

    - name: Zip Web
      uses: papeloto/action-zip@v1
      with:
        files: ./src/web/Fig.Web/bin/Release/net10.0/publish
        dest: ./src/web/Fig.Web/bin/Release/net10.0/Fig.Web.zip

    - name: Create Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag: ${{ github.ref_name }}
      run: |
        gh release create ${{ github.ref_name }} --generate-notes --prerelease ./src/api/Fig.Api/bin/Release/net10.0/win-x64/Fig.Api.zip ./src/web/Fig.Web/bin/Release/net10.0/Fig.Web.zip