name: build and test

on:
  push:
  pull_request:
    branches: [ main ]
    paths-ignore:
    - 'README.md'

env:
  DOTNET_VERSION: '8.0.x' # The .NET SDK version to use

jobs:
  build-and-test:

    name: build-and-test-${{matrix.os}}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest]

    steps:

    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}

    - name: Update .NET workloads
      run: dotnet workload update
        
    - name: Install required .NET workloads
      run: dotnet workload install aspire

    - name: Install dependencies
      run: dotnet restore ./src

    - name: Build
      run: dotnet build --configuration Release --no-restore ./src

    - name: Test
      run: dotnet test --no-restore --verbosity normal --logger "trx;LogFileName=test-results.trx" ./src --filter FullyQualifiedName~!Fig.EndToEnd.Tests

    - name: Test Report
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: TestResults
        path: "**/test-results.trx"                            
        reporter: dotnet-trx
        fail-on-error: true